/* Avatar
--------------------------------------------- */

.avatar {
	border-radius: 50%;
	float: left;

	.author-box & {
		height: 88px;
		width: 88px;
	}

	.entry-comments & {
		height: 60px;
		width: 60px;
	}

	.alignleft &,
	.author-box & {
		margin-right: 24px;
	}

	.alignright & {
		margin-left: 24px;
	}

	.comment & {
		margin: 0 20px 24px 0;
	}

}
