/* Footer Navigation
--------------------------------------------- */

.nav-footer .genesis-nav-menu {
	padding: 20px 0;
}

.nav-footer .genesis-nav-menu a {
	border: none;
	font-weight: 800;
	letter-spacing: 3px;
	margin: 0 20px;
	padding: 0;
}
